NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_N8N_CHAT_WEBHOOK_URL=http://127.0.0.1:5678/webhook/reviive/conversations/message
NEXT_PUBLIC_N8N_RECOMENDACION_WEBHOOK_URL=http://127.0.0.1:5678/webhook/reviive/memories/recuerdo-creado
NEXT_PUBLIC_N8N_MEMORIAL_WEBHOOK_URL=http://127.0.0.1:5678/webhook/reviive/memorials/memorial-creado
